#head{
  color:#5543ca;
  font-size: 2rem;  
}
.nav-link{
    color: #5543ca;
}
.navbar-toggler-icon {
    background-color: #5543ca;;
    height: 4px;
    display: block;
    padding-top: 6px;
    border-color: #5543ca;
}
